extends layout

block content
  .main.container
    .row
      .col-md-8.col-md-offset-2
        h1.display-4.m-b-2 About Us
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum cum architecto itaque corporis neque asperiores beatae distinctio dolor debitis. In cum dolorem nisi corrupti dolorum porro excepturi. Nulla pariatur omnis, nisi ea, rem non autem at id repellat, mollitia doloremque!
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi asperiores nesciunt neque ratione vel sed temporibus aspernatur minus accusamus, molestiae libero explicabo quod eveniet dolorum optio voluptate magnam voluptas pariatur.

        a.btn.btn-info-outline.btn-lg.m-t-1(href='/register') Get Started for FREE