extends layout

block content
  .main.container
    .row
      .col-md-8.col-md-offset-2
        h1.display-4.m-b-2 Contact Us
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias dolores voluptatibus, nesciunt, eaque minima hic provident in repellendus fugit, voluptatum deserunt! Architecto, pariatur. Labore repellendus iste aut, autem corrupti vero?

        a.btn.btn-primary(href='#') Get in touch